# fly.toml app configuration file
app = "wc3obsbot"
primary_region = "iad"

[build]

[env]
  NODE_ENV = "production"

[processes]
  app = "node bot.js"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
